body {
    background-color: black;
    box-sizing: border-box;
    color: white;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    padding: 0;
}

.header__container {
    border: 1px solid yellow;
    display: flex;
    flex-direction: column;
    height: 15vh;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.form__container {
    border: 1px solid blue;
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    height: 45vh;
    justify-content: center;
    margin: auto;
    min-width: 330px;
    padding-left: 13%;
}

.petrol {
    animation: neon 8s 3s infinite linear;
    border: 1px solid red;
    height: 100%;
    margin: auto;
    min-width: 400px;
    width: 55%;
}
    @keyframes neon {
        o% {opacity: 1;}
        45% {opacity: 1;}
        46% {opacity: 0.5;}
        54% {opacity: 1;}
        77% {opacity: 1;}
        88% {opacity: 0.5;}
        90% {opacity: 1;}
        98% {opacity: 1;}
        100% {opacity: 0.5;}
    }